<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row" id="row">
        <div class="footer-info">
          <h3>Comer & Beber</h3>
        </div>
      </div>
      <div class="row" id="row">
        <div class="col">
          <p>
            BLVD. Aquiles Serdán #507 <br />
            San Francisco del Rincón 36446, MEX<br /><br />
          </p>
        </div>
        <div class="col">
          <p>
            <strong>Teléfono:</strong> +1 55 476 102 37 01<br />
            <strong>Correo:</strong> JEmail@gmail.com<br />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Comer & Beber</span></strong
      >. Todos los derechos reservados.
    </div>
    <div class="credits">Diseñado por <b>JE Developers</b></div>
  </div>
</footer>
