<form [formGroup]="formConsumible">
  <h1 mat-dialog-title>Nuevo platillo</h1>
  <div mat-dialog-content style="width: 1000px;">
    <div class="row" style="padding: 15px;">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="nombre"
          formControlName="nombre"
          placeholder="Nombre"
        />
        <mat-error *ngIf="formConsumible.get('nombre').invalid"
          >Por favor ingrese el nombre del platillo</mat-error
        >
      </mat-form-field>
    </div>
    <div class="row" style="padding: 10px;">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="ingredientes"
          formControlName="ingredientes"
          placeholder="Ingredientes"
        />
        <mat-error *ngIf="formConsumible.get('ingredientes').invalid"
          >Por favor ingrese los ingredientes del platillo</mat-error>
      </mat-form-field>
    </div>
    <div class="row" style="padding: 10px;">
      <button mat-stroked-button type="button" (click)="filePicker.click()">Selecciona la imagen del platillo</button>
      <input type="file" #filePicker (change)="onImagePicked($event)"/>
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && formConsumible.get('imagen').valid" class="row">
      <img [src]="imagePreview" [alt]="formConsumible.value.nombre"/>
    </div>
    <div class="row" style="padding: 0px;">
      <mat-form-field>
        <input
          matInput
          type="number"
          max="1000"
          min="1"
          maxlength="5"
          name="precio"
          formControlName="precio"
          placeholder="Precio"
        />
        <mat-error *ngIf="formConsumible.get('precio').invalid"
          >Por favor ingrese el precio</mat-error
        >
      </mat-form-field>
    </div>
    <div class="row" style="padding: 10px;">
      <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <mat-select [(value)]="tip" formControlName="tipo">
          <mat-option value="desayuno" name="tipo">Desayuno</mat-option>
          <mat-option value="comida" name="tipo">Comida</mat-option>
          <mat-option value="cena" name="tipo">Cena</mat-option>
          <mat-option value="bebida" name="tipo">Bebida</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <p>{{tip}}</p> -->
      <mat-error *ngIf="formConsumible.get('tipo').invalid"
          >Por favor selecciona un tipo</mat-error
        >
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button
      *ngIf="formConsumible.get('nombre').invalid || formConsumible.get('ingredientes').invalid || formConsumible.get('imagen').invalid || formConsumible.get('precio').invalid || formConsumible.get('tipo').invalid"
      mat-button
      [mat-dialog-close]="formConsumible"
      cdkFocusInitial
      disabled="true"
    >
      Guardar
    </button>
    <button
      *ngIf="!formConsumible.get('nombre').invalid && !formConsumible.get('ingredientes').invalid && !formConsumible.get('imagen').invalid && !formConsumible.get('precio').invalid && !formConsumible.get('tipo').invalid"
      mat-button
      [mat-dialog-close]="formConsumible"
      cdkFocusInitial
      disabled="false"
    >
      Guardar
    </button>
  </div>
</form>
