<div>
  <div id="titulo">
    <h2>Menu</h2>
    <button mat-stroked-button color="warn" (click)="cambioEstadoPedido()">
      Arma tu pedido
    </button>
  </div>
  <mat-tab-group class="mat-tab-group" mat-align-tabs="center">
    <!-- APARTADO DE consumibleS -->
    <mat-tab label="consumibles">
      <form (submit)="onAddPedido(postForm)" #postForm="ngForm">
        <div class="container">
          <mat-spinner *ngIf="consumibles.length <= 0"></mat-spinner>
          <div class="row" *ngFor="let consumible of consumibles">
            <div *ngIf="consumible.tipo === 'platillo'">
              <div class="col">
                <mat-card>
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                      <img
                        [src]="consumible.imagen"
                        class="rounded-circle"
                        [alt]="consumible.nombre"
                        width="180"
                        height="150"
                      />
                    </div>
                    <div class="col-sm-4">
                      <div class="menu-content">
                        <b>{{ consumible.nombre }}</b
                        >-----------
                        <span>${{ consumible.precio }}</span>
                      </div>
                      <div class="menu-ingredients">
                        {{ consumible.ingredientes }}
                      </div>
                    </div>
                    <div class="col-sm-3" *ngIf="pidiendo">
                      <mat-form-field appearance="fill">
                        <input
                          matInput
                          type="number"
                          min="0"
                          max="5"
                          value="0"
                          class="form-control"
                          #cantidad
                          (change)="
                            seleccionConsumible(consumible, cantidad.value)
                          "
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
          <!-- <div class="row" *ngIf="pidiendo">
        <mat-form-field>
          <input
            matInput
            type="text"
            name="nombre"
            ngModel
            required
            #nombre="ngModel"
            placeholder="Nombre"
          />
          <mat-error *ngIf="nombre.invalid"
            >Por favor ingrese un nombre</mat-error
          >
        </mat-form-field>
      </div>
      <div class="row" *ngIf="pidiendo">
        <mat-form-field>
          <input
            matInput
            type="number"
            name="mesa"
            ngModel
            required
            #mesa="ngModel"
            placeholder="No. de mesa"
          />
          <mat-error *ngIf="mesa.invalid"
            >Por favor ingrese un numero de mesa</mat-error
          >
        </mat-form-field>
      </div> -->
          <div id="boton">
            <button
              mat-raised-button
              color="warn"
              *ngIf="pidiendo"
              type="submit"
            >
              Pedir
            </button>
          </div>
        </div>
      </form>
    </mat-tab>

    <!-- APARTADO DE BEBIDAS -->
    <mat-tab label="Bebidas">
      <form (submit)="onAddPedido(postForm)" #postForm="ngForm">
        <div class="container">
          <div class="row" *ngFor="let consumible of consumibles">
            <div *ngIf="consumible.tipo === 'bebida'">
              <div class="col">
                <mat-card>
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3">
                      <img
                        [src]="consumible.imagen"
                        class="rounded-circle"
                        [alt]="consumible.nombre"
                        width="180"
                        height="150"
                      />
                    </div>
                    <div class="col-sm-4">
                      <div class="menu-content">
                        <b>{{ consumible.nombre }}</b
                        >-----------
                        <span>${{ consumible.precio }}</span>
                      </div>
                      <div class="menu-ingredients">
                        {{ consumible.ingredientes }}
                      </div>
                    </div>
                    <div class="col-sm-3 form-outline" *ngIf="pidiendo">
                      <mat-form-field appearance="fill">
                        <input
                          matInput
                          type="number"
                          min="0"
                          max="5"
                          value="0"
                          class="form-control"
                          #cantidad
                          (change)="
                            seleccionConsumible(consumible, cantidad.value)
                          "
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
          <!-- <div class="row" *ngIf="pidiendo">
        <mat-form-field>
          <input
            matInput
            type="text"
            name="nombre"
            ngModel
            required
            #nombre="ngModel"
            placeholder="Nombre"
          />
          <mat-error *ngIf="nombre.invalid"
            >Por favor ingrese un nombre</mat-error
          >
        </mat-form-field>
      </div>
      <div class="row" *ngIf="pidiendo">
        <mat-form-field>
          <input
            matInput
            type="number"
            name="mesa"
            ngModel
            required
            #mesa="ngModel"
            placeholder="No. de mesa"
          />
          <mat-error *ngIf="mesa.invalid"
            >Por favor ingrese un numero de mesa</mat-error
          >
        </mat-form-field>
      </div> -->
          <div id="boton">
            <button
              mat-raised-button
              color="warn"
              *ngIf="pidiendo"
              type="submit"
            >
              Pedir
            </button>
          </div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
