.example-spacer {
  flex: 1 1 auto;
}

#titulo {
  padding-top: 1rem;
  padding-left: 5rem;
}

#titulo h2 {
  padding-top: 1rem;
  padding-left: 1rem;
  margin: 0;
  font-size: 44px;
  font-weight: 700;
  line-height: 56px;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

#titulo button {
  width: 1165px;
  margin: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 56px;
  background-color: #f44336;
  color: white;
  font-family: "Poppins", sans-serif;
}

mat-spinner {
  margin: auto;
}

input {
  padding-top: 2rem;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

#boton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#boton button {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Poppins", sans-serif;
}

#inicio {
  width: 1165;
  height: 20vh;
  background: url("../../assets/img/fondos/inicio-fondo.jpg") top center;
}

#inicio h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#inicio h1 span {
  color: #f44336;
}