<form [formGroup]="cliente">
  <h1 mat-dialog-title>Ingresa tu datos</h1>
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="nombre"
          maxlength="20"
          formControlName="nombre"
          placeholder="Nombre"
        />
        <mat-error *ngIf="cliente.get('nombre').invalid"
          >Por favor ingrese un nombre</mat-error
        >
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input
          matInput
          type="number"
          max="15"
          min="1"
          maxlength="2"
          name="mesa"
          formControlName="mesa"
          placeholder="No. de mesa"
        />
        <mat-error *ngIf="cliente.get('mesa').invalid"
          >Por favor ingrese un numero de mesa</mat-error
        >
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No gracias</button>
    <button
      *ngIf="cliente.get('mesa').invalid || cliente.get('nombre').invalid"
      mat-button
      [mat-dialog-close]="cliente"
      cdkFocusInitial
      disabled="true"
    >
      Guardar
    </button>
    <button
      *ngIf="!cliente.get('mesa').invalid && !cliente.get('nombre').invalid"
      mat-button
      [mat-dialog-close]="cliente"
      cdkFocusInitial
      disabled="false"
    >
      Guardar
    </button>
  </div>
</form>
