<div *ngIf="pedidos.length > 0" id="pedidos">
  <h1>Mis pedidos</h1>
  <div class="container">
    <div class="row" *ngFor="let pedido of pedidos">
      <div class="row" id="encabezadoPedido">
        <div class="col">
          <h2><b>Nombre: </b>{{ cliente.nombre }}</h2>
        </div>
        <div class="col">
          <h2><b>No. mesa: </b>{{ cliente.mesa }}</h2>
        </div>
        <div class="col">
          <h2><b>Total: </b>${{ pedido.precioTotal }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-sm-3" *ngFor="let consumible of consumibles">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{ consumible.nombre }}</mat-card-title>
                <mat-card-subtitle
                  >{{ consumible.tipo }}-----
                  <b>${{ consumible.precio }}</b></mat-card-subtitle
                >
              </mat-card-header>
              <img
                mat-card-image
                class="rounded-circle"
                [src]="consumible.imagen"
                [alt]="consumible.nombre"
                height="200"
              />
              <mat-card-content id="contenidoCard">
                <p>
                  {{ consumible.ingredientes }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <tr></tr>
      </div>
    </div>
  </div>
</div>
