<mat-drawer-container hasBackdrop="true">
  <mat-drawer
    #drawer
    mode="over"
    style="background-color: tomato; padding: 50px"
  >
    <ul class="nav">
      <mat-list role="list">
        <div>
          <mat-list-item style="margin-top: 70px">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">
                <i class="material-icons" style="color: white">home</i>
                <p style="color: white">Inicio</p>
              </a>
            </li>
          </mat-list-item>
        </div>
        <div>
          <mat-list-item style="margin-top: 70px">
            <li class="nav-item">
              <a class="nav-link" routerLink="/menu">
                <i class="material-icons" style="color: white">book</i>
                <p style="color: white">Menu</p>
              </a>
            </li>
          </mat-list-item>
        </div>
        <div>
          <mat-list-item style="margin-top: 70px">
            <li class="nav-item">
              <a class="nav-link" routerLink="/pedidos">
                <i class="material-icons" style="color: white">reorder</i>
                <p style="color: white">Mis pedidos</p>
              </a>
            </li>
          </mat-list-item>
        </div>
        <div *ngIf="!isEmpleado">
          <mat-list-item style="margin-top: 70px">
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="abrirLogin()"
                style="cursor: pointer"
              >
                <i class="material-icons" style="color: white">person</i>
                <p style="color: white">Iniciar sesión</p>
              </a>
            </li>
          </mat-list-item>
        </div>
        <div *ngIf="isEmpleado">
          <mat-list-item style="margin-top: 70px">
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="cerrarSesion()"
                style="cursor: pointer"
              >
                <i class="material-icons" style="color: white">exit_to_app</i>
                <p style="color: white">Cerrar sesión</p>
              </a>
            </li>
          </mat-list-item>
        </div>
      </mat-list>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (desplegar)="desplegarMenu($event)"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
