<mat-drawer-container hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <div class="sidebar-wrapper">
    <ul class="nav">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" style="padding: 30px;">
              <i class="material-icons">home</i>
              <p>Inicio</p>
            </a>
          </li>
        </mat-list-item>
        <mat-list-item role="listitem">
          <li class="nav-item">
            <a class="nav-link" routerLink="/menu" style="padding: 30px">
              <i class="material-icons">book</i>
              <p>Menu</p>
            </a>
          </li>
        </mat-list-item>
        <mat-list-item role="listitem">
          <li class="nav-item">
            <a class="nav-link" routerLink="/pedidos" style="padding: 30px;">
              <i class="material-icons">reorder</i>
              <p>Mis pedidos</p>
            </a>
          </li>
        </mat-list-item>
      </mat-list>
    </ul>
  </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (desplegar)="desplegarMenu($event)"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>